{% extends "rsvp/base.html" %}
{% block content %}

    <div class="m-3">

        <h1>Create Path</h1>
        <p>Insert the host name one per line:</p>

        <form action="{% url 'create_path' %}" method="POST">

            {% csrf_token %}

            <label for="rsvp_lsp_name">LSP Name:</label><br>
            <input type="text" id="rsvp_lsp_name" name="rsvp_lsp_name"><br>
            
            <label for="rsvp_path_name">Path Name:</label><br>
            <input type="text" id="rsvp_path_name" name="rsvp_path_name"><br>

            <input type="checkbox" id="primary" name="primary" checked="true">
            <label for="primary">Primay</label><br>

            <input type="checkbox" id="reversed" name="reversed">
            <label for="reversed">Reversed</label><br>

            <label for="host_input_box">Host List:</label><br>
            <textarea type="text" id="host_input_box" name="host_input_box" cols="20" rows="10" placeholder="sds1.eq1.mia
sds2.eq1.mia
sdx1.eq2.iad
..."></textarea>
            <input type="submit" value="Submit">

        </form>
    </div>

    {% if result %}
        <div class="m-3" id="result">
            <div class="content-left">
                <h5 >Exos Config:</h5>
                    {% for line in result %}
                    {{ line }}<br>
                    {% endfor %}
            </div>
            <div class="host-list">
                <h5>Host list:</h5>
                    {% if reversed == "on" %}
                        <p>Note: The path was reversed</p>
                    {% endif %}
                    
                    <ul>
                        {% for host in hosts %}
                        <li>{{ host }}</li>
                        {% endfor %}
                    </ul>
                <br>
            </div>
        </div>
    {% endif %}

{% endblock content %}
